In [1]:
import pandas as pd

In [2]:
cartier = pd.read_csv('dataset/cartier_catalog.csv')

In [3]:
cartier.drop(['ref' , 'image' , 'description'] , axis  = 1 , inplace=True)

In [4]:
cartier.head(5)

  categorie              title   price         tags
0     rings          Love ring  1650.0  yellow gold
1     rings          Love ring  3650.0     platinum
2     rings          Love ring  1650.0    pink gold
3     rings          Love ring  1770.0   white gold
4     rings  Love wedding band  1070.0  yellow gold

In [5]:
cartier["tags"] = cartier["tags"].str.replace(".","").str.replace("-", "_")

In [6]:
def tag_spiliter(dataframe , col_name , delimiter , metal , first_gem , second_gem , third_gem , fourth_gem):
    dataframe['str_split'] = dataframe[col_name].str.split(delimiter)
    dataframe[metal] = dataframe.str_split.str.get(0).str.strip()
    dataframe[first_gem] = dataframe.str_split.str.get(1).str.strip()
    dataframe[second_gem] = dataframe.str_split.str.get(2).str.strip()
    dataframe[third_gem] = dataframe.str_split.str.get(3).str.strip()
    dataframe[fourth_gem] = dataframe.str_split.str.get(4).str.strip()
    dataframe.fillna(0 , inplace=True)
    del dataframe['str_split']

In [7]:
tag_spiliter(cartier , 'tags' , ',' , 'metal' , 'first_gem' , 'second_gem' , 'third_gem' , 'fourth_gem')

In [8]:
def dummies_concat(col_list, dataframe):
    list_of_dummies = []
    for material in col_list:
        list_of_dummies.append(cartier[material].str.get_dummies())
    dummies_df = pd.concat(list_of_dummies , sort=True).groupby(level=0).any().astype(int)
    dataframe = dataframe.join(dummies_df)
    return dataframe

In [9]:
list_of_material = ['categorie', 'metal' , 'first_gem' , 'second_gem' , 'third_gem' , 'fourth_gem']

In [10]:
ready_df_for_ML = dummies_concat(list_of_material , cartier)

In [11]:
ready_df_for_ML.drop(['tags' , 'metal' ,'first_gem' ,'second_gem' ,'third_gem', 'fourth_gem' , '0' , 'title' ,'categorie'] , axis = 1 , inplace=True)

In [12]:
ready_df_for_ML.head(10)

,price,amazonite,amethyst,amethysts,aquamarines,aventurine,black ceramic,black lacquer,bracelets,brown diamonds,...,rubies,sapphire,sapphires,spessartite garnet,spinels,tsavorite garnet,tsavorite garnets,white gold,white mother_of_pearl,yellow gold
0,1650.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3650.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1650.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1770.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1070.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1070.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1140.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,2380.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,3500.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9,3500.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
ready_df_for_ML.to_csv('ready_for_ml.csv' , index = False)

In [14]:
ready_df_for_ML.columns

Index([u'price', u'amazonite', u'amethyst', u'amethysts', u'aquamarines',
       u'aventurine', u'black ceramic', u'black lacquer', u'bracelets',
       u'brown diamonds', u'carnelian', u'carnelians', u'ceramic',
       u'chrysoprase', u'chrysoprases', u'citrine', u'coral', u'diamond',
       u'diamonds', u'earrings', u'emeralds', u'garnets',
       u'gray mother_of_pearl', u'lacquer', u'lapis lazuli', u'malachite',
       u'mother_of_pearl', u'necklaces', u'non_rhodiumized white gold',
       u'obsidians', u'onyx', u'pearl', u'peridots', u'pink gold',
       u'pink sapphire', u'pink sapphires', u'platinum', u'rings', u'rubies',
       u'sapphire', u'sapphires', u'spessartite garnet', u'spinels',
       u'tsavorite garnet', u'tsavorite garnets', u'white gold',
       u'white mother_of_pearl', u'yellow gold'],
      dtype='object')